.listado-izquierdo {
    width: 15.3vw;
    float: right;

    .listado-izquierdo__cabecera-listado {
        width: 15.3vw;
        border-bottom: 1px solid gray;
    }

    .listado-izquierdo__tags {
        border-bottom: 1px solid gray;
        ul {
            padding: 0;
            list-style: none;
        }
        ul li {
            display: inline;
            padding: 2px 4px;
            background-color: steelblue;
            margin-right: 1px;
            color: white;
        }
    }

    .listado-izquierdo__noticias-destacadas {
        margin-bottom: 50px;
        img {
            width: 220px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 500px) {
    .listado-izquierdo {
        display: none;
    }
}
