.listad-noticias {
    width: 59.02vw;
    float: left;
    margin-left: 50px;

    .listad-noticias__noticia {
        width: 260px;
        display: inline-block;
        margin: 5px;
        cursor: pointer;
    }

    .listad-noticias__noticia--cuerpo {
        img {
            width: 100%;
            height: auto;
        }
        p {
            padding: 5px 10px;
        }
    }
}
